.header {
  margin-bottom: 50px;
  padding: 10px 20px;
  color: white;
  background: var(--primary-color);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navLeft {
  display: flex;
  gap: 15px;
  align-items: center;
}

.navRight {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--secondary-color);
}

.linkButton {
  border: none;
  cursor: pointer;
  font: inherit;
  color: white;
  background: none;
  transition: color 0.3s ease;
}

.linkButton:hover {
  color: var(--secondary-color);
}

.addAdLink {
  padding: 6px 12px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  transition: all 0.3s ease;
}

.addAdLink:hover {
  background-color: white;
  color: var(--primary-color);
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
  color: white;
}
