:root {
  --primary-color: #6b3f69;
  --secondary-color: #ddc3c3;
  --background-color-primary: #121a26;
  --text-color: #fff;
  --text-color-secondary: #0f1115;
  --card-bg: #fff;
  --border: rgba(221, 195, 195, 0.18);
  --error-color: #ff6b6b;
}

body {
  background-color: var(--background-color-primary) !important;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  color: var(--text-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
